{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    <br><br><br><br>
<h2>First Year Admission Form</h2>
<br><br>
<form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:"form-control" }}
        {% for error in field.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    <h6><b>Note: Please Note MHT cet percentile should be entered in 7 decimal points</b></h6>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
    <br><br>  <br><br>
{% endblock %}
